<header>
    <div class="header-content">
        <div class="brand-section">
        <a href="/"><h1>NTTV</h1></a>
        <p class="subtitle_s">NextTheme.TV — Платформа для тем, творчості та спілкування</p>
        </div>
        <nav>
        <a href="forums" class="nav-link">ТЕМИ</a>
        <a href="profile_subs" class="nav-link">ПІДПИСКИ</a>
        <a href="profile" class="nav-link">ПРОФІЛЬ</a>
        </nav>
    </div>
</header>